@model ActivityManagement.ViewModels.Home.HomeViewModel
@{
    
    Layout = "_Layout";
}


<div id="modal-placeholder"></div>
<partial name="_Header" model="@Model.BreadCrumbViewModel"/>


<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="card shadow w-100">
            <div class="card-header font_Vazir_Medium">
                مدیریت کاربران
            </div>
            <div class="card-body">
                <form asp-controller="UserManager">
                    @await Html.PartialAsync("_UserTable")
                </form>
            </div>
        </div>
    </div>
</div>


 
