@model ActivityManagement.ViewModels.UserManager.ResetPasswordViewModel
@{
     
}

    <form asp-action="ResetPassword" method="post">
       
            <div class="row">
                <div class="col-md-6 border-left">
                     
                    <div class="row">
                        <input type="hidden" asp-for="UserId" />

                        <div class="form-group col-md-12">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" disabled />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" type="password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary float-left">بازنشانی</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert p-0">
                        <ul>
                            <li>"کلمه عبور باید حداقل شامل یک کاراکتر عدد ('0'-'9') باشد."</li>
                            <li>"کلمه عبور باید حداقل شامل یکی از کاراکترهای حرفی ('a'-'z') باشد."</li>
                            <li>"کلمه عبور باید حداقل شامل یک حرف بزرگ ('A'-'Z') باشد."</li>
                            <li>"کلمه عبور باید حداقل شامل 6 کاراکتر باشد." </li>
                        </ul>
                    </div>
                </div>
            </div>

         

    </form>




