 
                <kendo-grid
            [data]="users"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [sortable]="true"
            [pageable]="true"
            [scrollable]="'scrollable'"
             
            [group]="state.group"
            [filterable]="true"
            [filter]="state.filter"
            (dataStateChange)="dataStateChange($event)"
            [height]="370">
            <ng-template kendoGridToolbarTemplate>
                <button kendoGridAddCommand>Add new</button>
              </ng-template>
              <kendo-grid-column field="Id" title="نام کاربری" [editable]="false"></kendo-grid-column>
              <kendo-grid-column field="FirstName" title="نام" [editable]="false"></kendo-grid-column>
              <kendo-grid-column field="LastName" title="نام خانوادگی" [editable]="false"></kendo-grid-column>
              <kendo-grid-column field="UserName" title="نام کاربری" [editable]="false"></kendo-grid-column>
              <kendo-grid-column field="Email" title="ایمیل"></kendo-grid-column>
              <kendo-grid-command-column title="command" width="220">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand [primary]="true">Edit</button>
                  <button kendoGridRemoveCommand>Remove</button>
                  <!-- <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button> -->
                  <!-- <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button> -->
                </ng-template>
              </kendo-grid-command-column>
</kendo-grid>
                <button (click)="showWindow()" class="k-button k-button-icontext k-primary">show window</button>
                <ng-container #container></ng-container>

        