ActivityManagement.Common/obj
ActivityManagement.Common/bin

ActivityManagement.DataLayer/obj
ActivityManagement.DataLayer/bin

ActivityManagement.DomainClasses/obj
ActivityManagement.DomainClasses/bin

ActivityManagement.IocConfig/obj
ActivityManagement.IocConfig/bin

ActivityManagement.Services/obj
ActivityManagement.Services/bin

ActivityManagement.ViewModels/obj
ActivityManagement.ViewModels/bin

ActivityManagement.Mvc/obj
ActivityManagement.Mvc/bin

ActivityManagementApi/obj
ActivityManagementApi/bin