<kendo-grid UsersBinding [pageable]="true" [sortable]="true" [height]="270" filterable="menu" 
  (add)="renderAddUser()">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>ایجاد کاربر</button>
  </ng-template>
  <kendo-grid-column field="id" title="ردیف" [editable]="false"></kendo-grid-column>
  <kendo-grid-column field="firstName" title="نام" [editable]="false"></kendo-grid-column>
  <kendo-grid-column field="lastName" title="نام خانوادگی" [editable]="false"></kendo-grid-column>
  <kendo-grid-column field="userName" title="نام کاربری" [editable]="false"></kendo-grid-column>
  <kendo-grid-column field="email" title="ایمیل"></kendo-grid-column>
  <kendo-grid-command-column title="عملیات" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <!-- <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button> -->
      <!-- <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button> -->
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<app-create-user  
[isActiveForm]="isActiveForm"
(cancel)="cancelHandler()"
(save)="saveHandler($event)"
>
</app-create-user>
<!-- <app-edit-user>
</app-edit-user> -->
<!-- <ng-container #container></ng-container> -->