@using ActivityManagement.Services.EfInterfaces
@using ActivityManagement.ViewModels.SiteSettings
@inject IWritableOptions<SiteSettings> WritableOptions
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>@WritableOptions.Value.SiteInformation.Title</title>

    <!-- Favicon -->
    <link href="@WritableOptions.Value.SiteInformation.Favicon" rel="icon" type="image/png" />



    <link href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendor/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="/assets/js/bundles/materialize-rtl/materialize-rtl.min.css" rel="stylesheet">
    <link href="/assets/css/styles/all-themes.css" rel="stylesheet" />
    <link href="/lib/bootstrap.datetimepicker/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/lib/Kendo/css/kendo.rtl.min.css" rel="stylesheet" />
    <link href="/lib/Kendo/css/kendo.default-v2.min.css" rel="stylesheet" />
    <link href="/lib/Loading/css/preloader.css" rel="styleshleet" />
    <link href="~/assets/fonts/FontAwsome5/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/assets/fonts/FontAwsome5/css/brands.min.css" rel="stylesheet" />
    <link href="~/assets/fonts/FontAwsome5/css/solid.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />






</head>
<body class="rtl theme-black logo-white submenu-closed">



    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    @await Html.PartialAsync("_Navbar")
    <!-- #Top Bar -->
    <div>
        <!-- Right Sidebar -->
        @await Html.PartialAsync("_RightSideMenu")


        <!-- Left Sidebar -->
        @await Html.PartialAsync("_LeftSideMenu")


    </div>
    <section class="content">
        <div class="container-fluid">

            @RenderBody()
        </div>
    </section>


    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/admin.js"></script>
    <script src="/lib/Kendo/js/kendo.all.min.js"></script>
    <script src="/lib/Kendo/js/aspnetmvc.min.js"></script>
    <script src="/lib/Kendo/js/kendo.culture.fa-IR.min.js"></script>
    @*<script src="~/lib/Kendo/js/kendo.culture.fa.min.js"></script>*@
    <script src="/lib/Kendo/js/jquery.validate.js"></script>
    <script src="/lib/Kendo/js/validate.unobtrusive.js"></script>

    @*<script src="/assets/js/pages/index.js"></script>*@
    <script src="/lib/Loading/js/jquery.preloader.min.js"></script>
    <script src="/lib/bootstrap.datetimepicker/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="/assets/fonts/FontAwsome5/js/fontawesome.js"></script>
    <script src="/assets/js/BaseScripts.js"></script>


    @RenderSection("Scripts", false)
</body>
</html>
