@using ActivityManagement.Common
<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li>
                <div class="sidebar-profile clearfix">
                    <div class="profile-img">
                        <img src="assets/images/usrbig.jpg" alt="profile">
                    </div>
                    <div class="profile-info">
                        <h3>حسین حیاتی</h3>
                        <p>خوش آمدید !</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-home"></i>
                    <span>خانه</span>
                </a>
                <ul class="ml-menu">
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-shopping-cart-full"></i>
                    <span>فروشگاه</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/ecommerce/products.html">محصولات</a>
                    </li>
                    <li>
                        <a href="pages/ecommerce/product-detail.html">جزئیات محصول</a>
                    </li>
                    <li>
                        <a href="pages/ecommerce/cart.html">سبد خرید</a>
                    </li>
                    <li>
                        <a href="pages/ecommerce/product-list.html">فهرست محصول</a>
                    </li>
                    <li>
                        <a href="pages/ecommerce/invoice.html">صورت حساب</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="menu-icon ti-crown"></i>
                    <span>ابزارک ها</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="pages/widgets/chart-widget.html">ابزارک نمودار</a>
                    </li>
                    <li>
                        <a href="pages/widgets/data-widget.html">ابزارک داده</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- #Menu -->
</aside>