.bg-default{
    height: 100%;
}
.bg-default .form-control{
text-align: center;
}
.input-group-text i{
    font-size: 12px;
}
 
form button{
    font-size: 14px;
    border-radius: 10px;
}
form input.form-control {
    border: 1px solid #5265d6 !important;
    border-radius: 25px !important;
    height: 35px;
}
.custom-checkbox .custom-control-input ~ .custom-control-label {
    font-size: 12px;
}
small{
    font-size: 12px;
}
input {
    color: #000000 !important;
    font-size: 14px;
}
.card{
    border-radius: 10% ;
}
::placeholder{
    color: #5265d6;
}
.custom-control-alternative .custom-control-label::before {
    border: 1px solid #5265d6;
}

.c-error .c-validation{ 
    background: #c51244 !important;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative; 
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
  }
  .c-error  .c-validation:before{ 
    content: ''; 
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute; 
    top: -10px; 
  }
  .c-label:after{
    color: #c51244 !important;
  }
  .c-error input, .c-error select, .c-error .c-choice-option{ 
    background: #fff0f4; 
    color: #c51244;
  }
  .c-error input, .c-error select{ 
    border: 1px solid #c51244 !important; 
  }
  
  
  