<ul class="navbar-nav align-items-center d-none d-md-flex">
    <li>
        <a href="#" class="notification notify show-count ml-4" data-count="70"></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{imageUrl}}">
                  
              </span>
          </div>
      </a>
      <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <a routerLink="/panel/user/myprofile" routerLinkActive="is-active" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>نمایه من</span>
          </a>
          <div class="dropdown-divider"></div>
  
          <a class="dropdown-item" (click)="logout()">
              <i class="ni ni-user-run"></i>
              <span>خروج</span>
          </a>
      </div>
  </li>
  </ul>
