<ul class="navbar-nav">

  <!--#َregio Admin-->
  <li class="nav-item pt-2 pb-2 pl-2">
    <a class="nav-link" routerLink="/panel/role/rolelist">
      <i class="fa fa-user text-pink"></i> مدیریت نقش ها
    </a>

  </li>
  <li class="nav-item pt-2 pb-2 pl-2">
    <a class="nav-link" routerLink="/panel/user/userlist">
      <i class="fa fa-user-circle text-yellow"></i> مدیریت کاربران
    </a>


  </li>
  <li class="nav-item pt-2 pb-2 pl-2">
    <a class="nav-link" routerLink="/panel/team">
      <i class="fa fa-users text-blue"></i> تیم ها
    </a>

  </li>


  <!--#َendregion-->

  <!--#region user-->
  <li class="nav-item pt-2 pb-2 pl-2">
    <a class="nav-link" href="#">
      <i class="fa fa-users text-blue"></i> تنظیمات
    </a>

  </li>
  <!--#endregion-->
</ul>