<ul class="nav align-items-center d-md-none">
    <li class="nav-item dropdown">
     <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <div class="media align-items-center">
             <span class="avatar avatar-sm rounded-circle">
                 <img alt="Image placeholder" src="../../../assets/images/UserPic.png">
                 
             </span>
         </div>
     </a>
     <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
         <a href="#" class="dropdown-item">
             <i class="ni ni-single-02"></i>
             <span>نمایه من</span>
         </a>
         <div class="dropdown-divider"></div>
   
         <a asp-controller="Account" (click)="logout()">
             <i class="ni ni-user-run"></i>
             <span>خروج</span>
         </a>
     </div>
   </li>
   </ul>