
@{

    Layout = "_Layout";
}


<div id="RoleGrid"></div>
<div id="windoRole"></div>

<script id="CreateRole" type="text/x-kendo-template">
    <a onclick=CreateRole() class='k-button k-grid-delete'><i class="fa fa-plus"></i></a>
</script>

@section Scripts {
    @{

        <script type="text/javascript">
            var recordRole = 0;
            var windowRole;
            $(function () {


                RoleInitialize();

            });

            function RoleInitialize() {

                $("#RoleGrid").html('');

                $("#RoleGrid").kendoGrid({
                    toolbar: [{ template: kendo.template($("#CreateRole").html()) }, "excel"],
                    excel: { allPages: true },
                    height: 400,
                    dataSource: {
                     type:"aspnetmvc-ajax",
                        transport: {
                            read: "/RoleManager/GetRoles",
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json",
                            parameterMap: function (data, operation) { return JSON.stringify(data); }
                        },
                        schema: {
                            data: "data",
                            errors: "errors",

                            total: "total",
                            model: {
                                id: "Id",
                                fields: {


                                    Id: { type: "number", editable: false, nullable: true },
                                    Name: { type: "string" }


                                }

                            }
                        },
                        parameterMap: function (data, type) {
                            return kendo.stringify(data);
                        },
                        pageSize: 20
                    },


                    serverFiltering: true,
                    serverPaging: true,
                    serverSorting: true,
                    pageable:
                    {
                        pageSizes: [10, 25, 50, 63, 75, 100, 150],
                        refresh: true,
                        input: true
                    },
                    dataBinding: function () {
                        recordRole = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                    },

                    pageable: true,
                    navigatable: true,
                    selectable: "single row",
                    sortable: {
                        mode: "multiple"
                    },
                    pageSize: 20,
                    resizable: true,
                    scrollable: true,
                    columns: [
                        {
                            title: "ردیف",
                            template: "#= ++recordRole #",
                            width: 100
                        },
                        { field: "Id", title: "شناسه نقش" },
                        { field: "Name", title: "نام نقش" },


                        {
                            title: "<i class='Add' >عملیات</i>",
                            template:
                                "<a onClick=\"EditRole('#= Id #')\" type=\"button\" on class=\"k-button\"><i class=\"fa fa-edit fa-lg\"></i></a> " +
                                "<a onClick=\"DeleteRole('#= Id #')\" type=\"button\" on class=\"k-button\"><i class=\"fa fa-trash fa-lg\"></i></a> "

                        }
                    ]
                });
            }



            function CreateRole(x) {
                $.ajax({
                    type: "Get",
                    url: '/RoleManager/Create/',
                    success: function (data) {
                        $("#windowTask").html(data);

                        windowRole = $("#windowRole").kendoWindow({
                            visible: true,
                            modal: true,
                            width: "800"
                        });
                        windowRole.data("kendoWindow").title('ایجاد').center().open();
                    },
                });
            }

            function EditRole(id) {

            }

            function RoleGridRefresh() {

                var grid = $("#RoleGrid").data("kendoGrid");
                grid.dataSource.read();
                try { windowRole.data('kendoWindow').close(); } catch (e) { }
            }
        </script>
    }
}



