@model ActivityManagement.ViewModels.Team.TeamViewModel

<form id="DeleteTeamForm" asp-controller="TeamManager" asp-action="Delete" method="Post" class="k-rtl">
     @Html.AntiForgeryToken()
     
   <input type="hidden" asp-for="TeamId"/>

 <p>آیا از حذف تیم @Model.Name اطمینان دارید ؟</p>


    <div class="form-group">

        <button type="button" class="btn-save" onclick="SendAndUpdate('#DeleteTeamForm')"><i class="fa fa-plus"></i><span class="mr-1">ذخیره</span></button>
        <button type="button" class="btn-close" onclick="closeWindows(this)"><i class="fa fa-times"></i><span class="mr-1">بستن</span></button>
        
    </div>

</form>

