  <app-navbar></app-navbar>
<!-- Main content -->

<div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <ul class="nav nav-sitemap justify-content-center justify-content-xl-end">
                <li>
                    <a class="h4 mb-0 text-white d-lg-inline-block" asp-controller="Home" asp-action="Index"> صفحه اصلی </a>
                </li>

            </ul>

              <!-- start user-profile-->
            <user-profile></user-profile>
              <!-- end user-profile -->
        </div>
    </nav>
    <div class="header bg-gradient-primary pb-6 pt-5 pt-md-3">
    </div>
   
  <!-- start dashboard -->
<app-dashboard></app-dashboard>
<router-outlet></router-outlet>
<!-- end dashboard -->
</div>
