<kendo-dialog *ngIf="isActiveForm" [width]="400" [height]="550" (close)="closeForm($event)">
    <kendo-dialog-titlebar>
        ایجاد کاربر جدید
    </kendo-dialog-titlebar>

    <form class="k-form" [formGroup]="useForm">
        <kendo-formfield>
            <kendo-label [for]="firstname" text="نام"></kendo-label>
            <input formControlName="firstname" kendoTextBox #firstname required />

            <!-- <kendo-formhint>Type product name</kendo-formhint> -->
            <kendo-formerror>نام را وارد کنید</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
            <kendo-label [for]="lastname" text="نام خانوادگی"></kendo-label>
            <input formControlName="lastname" kendoTextBox #lastname required />

            <!-- <kendo-formhint>Type unit price</kendo-formhint> -->
            <kendo-formerror>نام خانوادگی را وارد کنید</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
            <kendo-label [for]="username" text="نام کاربری"></kendo-label>
            <input formControlName="username" kendoTextBox #username required />


            <!-- <kendo-formhint>Type units</kendo-formhint> -->
            <kendo-formerror>نام کاربری را وارد کنید</kendo-formerror>
        </kendo-formfield>

        <kendo-formfield>
            <kendo-label [for]="email" text="ایمیل"></kendo-label>
            <input formControlName="email" kendoTextBox #email required />

            <!-- <kendo-formhint>Type units</kendo-formhint> -->
            <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                <kendo-formerror *ngIf="emailField.errors.required">
                    ایمیل را وارد کنید
                </kendo-formerror>
                <kendo-formerror *ngIf="emailField.errors.email">
                    ایمیل را به درستی وارد کنید
                </kendo-formerror>

            </div>
        </kendo-formfield>

        <kendo-formfield>
            <kendo-label [for]="persianBirthDate" text="تاریخ تولد"></kendo-label>
            <!-- <input formControlName="persianBirthDate" kendoTextBox #persianBirthDate required /> -->
            <dp-date-picker 
            required
            kendoTextBox
            #persianBirthDate
            dir="rtl"
            formControlName="persianBirthDate"
            mode="day"
            theme="dp-material"
            >
          </dp-date-picker>

            <!-- <kendo-formhint>Type units</kendo-formhint> -->
            <kendo-formerror> تاریخ تولد را وارد کنید</kendo-formerror>
        </kendo-formfield>
        <kendo-formfield>
            <kendo-label [for]="password" text="کلمه عبور"> </kendo-label>
            <input formControlName="password" #password kendoTextBox required/>
            <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">

                <kendo-formerror *ngIf="passwordField.errors.required">
                    کلمه عبور را وارد کنید
                </kendo-formerror>

                <kendo-formerror *ngIf="passwordField.errors.minlength">
                    حداقل 4 کاراکتر وارد کنید
                </kendo-formerror>

                <kendo-formerror *ngIf="passwordField.errors.maxlength">
                    حداکثر 10 کاراکتر وارد کنید
                </kendo-formerror>
            </div>




        </kendo-formfield>


        <kendo-formfield [orientation]="'horizontal'" [showHints]="'initial'">
            <label class="k-label">جنسیت</label>

            <ul class="k-radio-list k-list-horizontal">
                <li class="k-radio-item">
                    <input type="radio" #male value="male" kendoRadioButton [formControlName]="'gender'" />
                    <kendo-label class="k-radio-label" [for]="male" text="مرد"></kendo-label>
                </li>

                <li class="k-radio-item">
                    <input type="radio" #female value="female" kendoRadioButton [formControlName]="'gender'" />
                    <kendo-label class="k-radio-label" [for]="female" text="زن"></kendo-label>
                </li>
                
            </ul>

            <kendo-formerror>جنسیت اجباری می باشد</kendo-formerror>
        </kendo-formfield>
    </form>

    <kendo-dialog-actions>
        <button class="k-button" (click)="closeForm($event)">انصراف</button>
        <button class="k-button k-primary" [disabled]="!useForm.valid" (click)="onSave($event)">ذخیره</button>
    </kendo-dialog-actions>
</kendo-dialog>